@import url('https://fonts.googleapis.com/css2?family=Baloo+2');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: #555555;

  .svg-icon-netflix-logo {
    fill: #e50914;
    height: 36px;
    width: 134px;
  }

  .container {
    width: 90vw;
    margin: 0 auto;
  }

  .ooops-text {
    width: 90%;
    margin: 0 auto;
    padding: 70px 20px;
    background: #1d1d1d;
    color: #e40909;
    margin-bottom: 8px;
    text-align: center;
  }

  .header {
    padding-top: 25px;
    position: relative;
    margin-bottom: 170px;

    .find-movie-wrapper {
      width: 90%;
      margin: 80px auto 20px;
    }
  }

  .content {
    .category.active {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        background: #e50914;
        bottom: -3px;
        left: 0;
        height: 4px;
        width: 100%;
      }
    }
  }

  footer {
    svg {
      height: 32px;
      width: 130px;
      display: block;
      margin: 0 auto;
    }
  }
}